{% set mediaDomain = 'https://familycodex-media.s3.us-west-1.wasabisys.com' %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="color-scheme" content="light dark">
    <link rel="stylesheet" href="/css/bootstrap-dark.min.css" />
    <link rel="stylesheet" href="/css/bootstrap-icons.css" />
    <link rel="stylesheet" href="/css/custom.css" />
    {% block page_css %}{% endblock %}
    <title>{{ title }}</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <a class="nav-link" href="/index.html">Home</a>
                    {% if family | count > 1 %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">People</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            {% for item in nav %}
                                <a class="dropdown-item fs-5" href="{{ item.href }}">{{ item.text }}</a>
                            {% endfor %}
                        </div>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    <div id="content" class="container pt-4">
        {% block content %}{% endblock %}
    </div>
    <script src="/js/bootstrap.bundle.min.js"></script>
    {% block page_js %}{% endblock %}
</body>
</html>
