<div class="d-flex flex-row">
    <div id="documentList" class="list-group" role="tablist">
        {% for document in current_family['documents'] %}
            <a href="#" class="list-group-item list-group-item-action" aria-current="true" data-file="{{ document['url'] }}" data-description="{{ document['description'] }}">{{ document['title'] }}</a>
        {% endfor %}
    </div>
    <div class="col pl-0">
        <div id="documentDescription" class="mb-3"></div>
        <div id="documentViewerContainer"></div>
    </div>
</div>