{% extends "base.j2" %}

{% set title = pages[current_item]['title'] %}

{% block content %}
    <h1>Welcome to the Family Codex</h1>
    <p>The goal of this site is to share family artifacts, please choose a family member:</p>
    <ul>
        {% for item in people|sort %}
            {% set person = people[item] %}
            {% set href = '/' + item + '.html' %}
            <li><a href="{{ href }}">{{ person.full_name }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}
