{% extends "base.j2" %}

{% set title = pages[current_item]['title'] %}

{% block content %}
    <h1>Welcome to the Family Codex</h1>
    <ul>
    {% for item in family | sort %}
        {% set current_family = family[item] %}
        <li><a href="/{{ item }}.html">{{ current_family['name'] }}</a></li>
    {% endfor %}
    </ul>

</ul>
{% endblock %}
