{% extends "base.j2" %}
{% set title = 'Welcome to the Family Codex' %}

{% block content %}
    <h1>Welcome to the Family Codex</h1>
    <ul>
    {% for item in nav %}
        <li><a href="{{ item.href }}">{{ item.text }}</a></li>
    {% endfor %}
    </ul>
{% endblock %}
