{% extends "base.j2" %}
{% set title = people[current_item].full_name %}
{% set person = people[current_item] %}
{% set sections = ['photos', 'videos', 'audio', 'documents'] %}

{% block content %}
    <div class="d-flex flex-row">
        <div class="p-2">
            {% if person.photo_url %}
            <img class="img-responsive" src="{{ person.photo_url }}" alt="" width="{{ person.photo_width }}">
            {% else %}
            <img class="img-responsive" src="/media/{{ current_item }}/photos/main.jpg" alt="">
            {% endif %}
        </div>
        <div class="p-2">
            <h2>{{ person.full_name }}</h2>
            <table class="table table-sm">
                <tr><th>Birth</th><td>{{ person.birth_date }}</td></tr>
                <tr><th>Death</th><td>{{ person.death_date }}</td></tr>
                <tr><th>Other pages</th><td>
                    <ul class="pl-0 mb-0" style="list-style:none;">
                    {% for link in person.links %}
                        <li><a target="_blank" href="{{ link.url }}">{{ link.title }}</a></li>
                    {% endfor %}
                    </ul>
                </td></tr>
                {% if person.description %}<tr><td colspan="2" class="pt-3">{{ person.description }}</td></tr>{% endif %}
            </table>
        </div>
    </div>
    <nav class="mt-5">
        <div class="nav nav-tabs mb-3" id="nav-tab" role="tablist">
            {% for section in sections %}
                {% if person[section] | count > 0 %}
                    <a class="nav-item nav-link"
                       id="nav-{{ section }}-tab"
                       data-bs-toggle="tab"
                       data-bs-target="#nav-{{ section }}"
                       role="tab"
                       aria-controls="nav-{{ section }}"
                       aria-selected="true">{{ section | capitalize }}</a>
                {% endif %}
            {% endfor %}
        </div>
    </nav>
    <div class="tab-content pb-5" id="nav-tabContent">
        {% for section in sections %}
            {% if person[section] | count > 0 %}
                {% set template_name = section + '.j2' %}
                <div class="tab-pane fade"
                    id="nav-{{ section }}"
                    role="tabpanel"
                    aria-labelledby="nav-{{ section }}-tab">
                    {% include template_name %}
                </div>
            {% endif %}
        {% endfor %}
    </div>

{% endblock %}

{% block page_js %}
    <script src="/js/person.js"></script>
{% endblock %}
